<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!

			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128
						            128%22><text y=%221.2em%22 font-size=%2296%22>⚫</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<link href="{{ asset('mystyle.css') }}" rel="stylesheet"/>
		{% endblock %}
		{% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row content">
				<div class="col-sm-3 sidenav">
					<h4>
						Camera Shop
					</h4>
					<ul class="nav nav-pills nav-stacked">
						<li class="active">
							<a href="{{ path('app_category_index') }}">
								Category
							</a>
						</li>
						<li>
							<a href="/product">
								Products
							</a>
						</li>
						<li>
							<a href="{{ path('app_user_index') }}">
								Customers
							</a>
						</li>
						<li>
							<a href="{{ path('app_order_index') }}">
								Orders
							</a>
						</li>
					</ul>
					{% if app.user %}
						<div class="col-md-12">
							<button class="btn btn-primary">
							<a style="color: white" href="{{ path('app_logout')}}">Logout</a>
							</button>
						</div>
					{% else %}
						<script type="text/javascript">
							window.location.href = "/login"
						</script>
					{% endif %}
					<br>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search Blog..">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphiconsearch"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="col-sm-9"> {% block body %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="footer-dark">
				<footer>
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-md-3 item">
								<h6 class="text-uppercase fw-bold mb-4">
            						Contact
          						</h6>
          						<p><i class="fas fa-home me-3"></i> 
								  151/9A, Tranhoangna, Hungloi, Ninhkieu, Cantho</p>
          						<p>
            					<i class="fas fa-envelope me-3"></i>
            						camerashop@example.com
          						</p>
          						<p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          						<p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
							</div>
							<div class="col-sm-4 col-md-5 item">
								<h3>Address</h3>
								<div class="center">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1964.5094458222425!2d105.76018572607437!3d10.015297898613213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089c374f10c4b%3A0x362c76e5d5e73d14!2zQ2FmZSBQSOG7kCAyNEg!5e0!3m2!1svi!2s!4v1647837752525!5m2!1svi!2s" width="350" height="175" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
								</div>
							</div>
							<div class="col-sm-9 col-md-4 text">
								<h3>Camera Shop</h3>
								<p>
       								 We specialize in selling age-appropriate toy items. We also sell collectible toy models. Coming to our shop, you will experience genuine toy items from Japan, America and accessories for collectors or toy upgraders.
        						</p>
							</div>
						</div>
						<p class="copyright">Camera Shop © 2022</p>
					</div>
				</footer>
			</div>
		</body>
	</html>
